@font-face {
    font-family: 'Futura';
    src: url('/fonts/Futura.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Futura';
}

.active-link {
    color: #00BADB;
    /* font-weight: 600; */
}